*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body
{
    background-color: aliceblue;
}
.main
{
    width: 60%;
    height: auto;
    background-color: white;
    padding: 10%;
    margin: 8% 20%;
    border: 1px solid white;
    border-radius: 15px;
}
input
{
    background-color: transparent;
    border-bottom: 1px dotted black;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
}